*~
*.swp
*.swo
*.swk
*.swl
*.swm
*.swn
*.swn

.DS_Store
.svn/
*.lnk
logback.xml

HZEchoClient/
HZEchoServer/
HZMultiClient/
HZEchoBindClient/

#original -->

*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

